{% extends 'woman/base.html' %}
{% load static %}

{% block main %}
    <div class="page">
        <h1>HTML</h1>
        <hr>
        <p>Материал из Википедии — свободной энциклопедии</p>
        <p>
            HTML (от англ. HyperText Markup Language — «язык гипертекстовой разметки») — стандартизированный язык
            гипертекстовой разметки документов для просмотра веб-страниц в браузере. Веб-браузеры получают HTML документ
            от
            сервера по протоколам HTTP/HTTPS или открывают с локального диска, далее интерпретируют код в интерфейс,
            который
            будет отображаться на экране монитора.
        </p>
        <p>
            Элементы HTML являются строительными блоками HTML страниц. С помощью HTML разные конструкции, изображения и
            другие объекты, такие как интерактивная веб-форма, могут быть встроены в отображаемую страницу. HTML
            предоставляет средства для создания заголовков, абзацев, списков, ссылок, цитат и других элементов. Элементы
            HTML выделяются тегами, записанными с использованием угловых скобок. Такие теги, как img и input, напрямую
            вводят контент на страницу. Другие теги, такие как , окружают и оформляют текст внутри себя и могут включать
            другие теги в качестве подэлементов. Браузеры не
            отображают HTML-теги, но используют их для интерпретации содержимого страницы.
        </p>
        <p>Язык XHTML является более строгим вариантом HTML, он следует синтаксису XML и является приложением языка XML
            в области разметки гипертекста.
        </p>
        <p>В HTML можно встроить программный код на языке программирования JavaScript, для управления поведением и
            содержанием веб-страниц. Также включение CSS в HTML описывает внешний вид и макет страницы
        </p>
        {% for i in objects %}
            <p>{ i }, </p>
        {% endfor %}
    </div>
{% endblock %}













